html{
    width: 300px;
    height: 568px;

}
#footertext{
    background-color: #1a75ff;
    text-align: center;
    width: 300px;
    height: 150px;
}
#inst{
    border-bottom: 2px solid rgb(69, 123, 224);
}

.form-control {
  background: transparent;
  border: none;
  border-bottom: 2px solid #7caadf;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #69e673!important;
}
.card{
    width: 300px;
    height: 568px;
}
.button{
 border: 0;
 background:cornflowerblue;
 box-shadow: none;
 border-radius: 0px;
 
}
.inputfrom{
    text-align: center;
}
#logintext{
    background-color: #1a75ff;
}
.online{
    text-align: center;
    justify-self: center;
    width: 300px;
    height: 568px;
    justify-content: center;
    justify-items: center;

}
.onoff{
    height: 64px;
    width: 64px;
    position:relative;
    margin-top:50%;
    margin-left: 39%;
}

.tt{
    position:relative;
    margin-top:40%;
    margin-bottom: 10px;
}
#checkinternet{
    margin-bottom: 10px;
}
.spinner {
  margin: 270px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: rgb(66, 181, 226);
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
.circle {
	background-color: rgba(255, 82, 82, 1);
	border-radius: 50%;
	animation: pulse-red 2s infinite;
}
.circle1 {
	background-color: rgb(82, 255, 120);
	border-radius: 50%;
  animation: pulse-green 2s infinite;
}

@keyframes pulse-red {
	0% {
		transform: scale(0.8);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgba(255, 82, 82, 0);
	}
	
	100% {
		transform: scale(0.8);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}
@keyframes pulse-green {
	0% {
		transform: scale(0.8);
		box-shadow: 0 0 0 0 rgba(82, 255, 120, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgba(82, 255, 120, 0);
	}
	100% {
		transform: scale(0.8);
		box-shadow: 0 0 0 0 rgba(82, 255, 120, 0);
	}
}

